.header {
  height: 5%;
  background-color: #575757;
  border: 1px solid black;
}

.bowling-table {
  border-collapse: collapse;
  margin-left: 1%;
  left: 0%;
}

th, td {
  border: 1px solid black;
}

.tabler-ow {
  margin-bottom: 20px;
  cursor: pointer;
}

.row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-header h2 {
  margin: 0;
}

.row-header span {
  font-size: 18px;
}
